.sortBar {
  top: 75px;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 75px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #a3a3a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: 0px 30px;
  overflow-x: scroll;
  scrollbar-width: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sortBar::-webkit-scrollbar {
  display: none;
}

.sortBar .sort {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #929292;
  color: grey;
  border-radius: 100px;
  margin: 0px 10px 0px 0px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 100px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0px 20px;
}

.sortBar .sort:hover {
  cursor: pointer;
  border-color: #2a2a2a;
  color: #2a2a2a;
}

.sortBar .activeSort {
  background-color: #2a2a2a !important;
  color: white;
  border-color: #2a2a2a;
  pointer-events: none;
}

.sortBar .activeSort:hover {
  color: white;
}

.sortBar .moveUp {
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #929292;
  color: grey;
  border-radius: 100px;
  margin: 0px 20px 0px 0px;
  padding: 0px 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: auto;
  margin-right: 0px;
}

.sortBar .moveUp svg {
  width: 18px;
  height: 18px;
  fill: grey;
}

.sortBar .moveUp:hover {
  cursor: pointer;
  border-color: #2a2a2a;
}

.sortBar .moveUp:hover svg {
  fill: #2a2a2a;
}

.singleListGrid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  margin: 30px;
  margin-top: 20px;
  padding: 0px 30px;
}

.single {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.single:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  cursor: pointer;
}

.single:hover .imgPadding {
  padding: 0px;
}

.single .imgPadding {
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.single .imgPadding .imgContainer {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.single .imgPadding .imgContainer .img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ecacc6;
}

.single .infoContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px solid #e7e7e7;
}

.single .infoContainer .infoDetail {
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background-color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.single .infoContainer .infoDetail::-webkit-scrollbar {
  display: none;
}

.single .infoContainer .infoDetail .collectionName {
  width: 100%;
  color: grey;
  font-style: italic;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.single .infoContainer .infoDetail .collectionName:hover {
  color: #2a2a2a;
}

.single .infoContainer .infoDetail .singleName {
  width: 100%;
  font-weight: 600;
  word-break: break-word;
}

.single .infoContainer .infoDetail .singleName:hover {
  text-decoration: underline;
}

.single .infoContainer .infoDetail .creatorName {
  width: 100%;
  color: grey;
  font-style: italic;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.single .infoContainer .infoDetail .creatorName:hover {
  color: #2a2a2a;
}

.single .infoContainer .priceDetail {
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  background-color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.single .infoContainer .priceDetail .buyBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 40%;
  border: 1px solid #2a2a2a;
  padding: 10px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.single .infoContainer .priceDetail .buyBtn:hover {
  background-color: #2a2a2a;
  color: white;
}

.single .infoContainer .priceDetail .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 60%;
}

.paginationBar {
  width: 100%;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: 15px 0px;
}

.paginationBar * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.paginationBar .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paginationBar .pagination .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 10px;
  width: 10px;
  font-size: 15px;
  border: 1px solid #929292;
  color: #929292;
  border-radius: 100px;
  margin-right: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.paginationBar .pagination .page:hover {
  cursor: pointer;
  border-color: #2a2a2a;
  color: #2a2a2a;
}

.paginationBar .pagination .selected {
  background-color: #2a2a2a;
  color: white;
  border-color: #2a2a2a;
}

.paginationBar .pagination .selected:hover {
  background-color: #2a2a2a;
  color: white;
  border-color: #2a2a2a;
}

.paginationBar .pagination .intermezzo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px;
}

.paginationBar .pagination .intermezzo div {
  margin-right: 5px;
  width: 5px;
  height: 5px;
  border-radius: 100px;
  background-color: #929292;
}

@media only screen and (max-width: 900px) {
  .singleList .sortBar {
    top: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .singleList {
    padding-top: 25px;
  }
  .singleList .sortBar {
    height: 120px;
    height: 40px;
    font-weight: 500;
    font-size: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .singleList .sortBar .sort {
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 10px 0px 0px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    min-width: 100px;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 0px 20px;
  }
  .singleList .sortBar .moveUp {
    height: 20px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #929292;
    color: grey;
    border-radius: 100px;
    margin: 0px 20px 0px 0px;
    padding: 0px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-left: auto;
    position: relative;
    margin-right: 0px;
  }
  .singleList .sortBar .moveUp svg {
    width: 20px;
    height: 10px;
    fill: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .singleList .paginationBar {
    width: 100%;
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding: 15px 0px;
    border: 1px solid #cecece;
  }
  .singleList .paginationBar .pagination .page {
    padding: 15px;
    font-size: 12px;
    margin-right: 2.5px;
  }
  .singleList .paginationBar .pagination .intermezzo {
    margin: 0px 2.5px;
  }
  .singleList .paginationBar .pagination .intermezzo div {
    margin-right: 2.5px;
    width: 2px;
    height: 2px;
  }
}

@media only screen and (max-width: 380px) {
  .singleList {
    padding-left: 10px;
    padding-right: 10px;
  }
  .singleList .paginationBar .pagination .page {
    padding: 10px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .singleList {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/*# sourceMappingURL=SingleList.css.map */