.singleList{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    padding-top: 75px;

        .sortBar{
            top: 75px;
            z-index: 100;
            position: fixed;
            width: 100%;
            height: 75px;
            background-color: #f7f7f7;
            border-bottom: 1px solid rgb(163, 163, 163);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 15px;
            padding: 0px 30px;

            .sort{
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgb(146, 146, 146);
                color: grey;
                border-radius: 3px;
                margin: 0px 20px 0px 0px;
                padding: 20px 40px;
                transition: all 0.2s;
                user-select: none;
    
                &:hover{
                    cursor: pointer;
                    border-color: rgb(15, 15, 15);
                    color: rgb(15, 15, 15);
                }
    
            }
    
            .activeSort{
                background-color: rgb(15, 15, 15) !important;
                color: white;
                border-color: rgb(15, 15, 15);
                pointer-events: none;
    
                &:hover{
                    color: white;
                }
            }

            .moveUp{
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgb(146, 146, 146);
                color: grey;
                border-radius: 100px;
                margin: 0px 20px 0px 0px;
                padding: 0px 10px;
                transition: all 0.2s;
                user-select: none;
                margin-left: auto;
                position: relative;
                margin-right: 0px;
    
                svg{
                    width: 18px;
                    height: 18px;
                    fill: grey;
                }

                &:hover{
                    cursor: pointer;
                    border-color: rgb(15, 15, 15);
                    
                    svg{
                        fill: rgb(15, 15, 15);
                    }

                    &::before{
                        transform: translateX(-115%) translateY(85%) scale(1);
                    }

                }

                &::before, &::after{
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-115%) translateY(85%) scale(0);
                    transition: transform 0.1s;
                    transform-origin: top right;
                    pointer-events: none;
                }

                &::before{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                    font-size: 15px;
                    padding: 10px 15px;
                    border-radius: 100px;
                    border-top-right-radius: 0px;
                    width: max-content;
                    color: white;
                    background-color: rgb(15, 15, 15);
                    content: attr(data-tooltip);
                }
    
            }

        }

    .singleListGrid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(275px, 1fr) );
        column-gap: 20px;
        row-gap: 20px;
        margin: 30px;
    }

    .single{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        overflow: hidden;
        transition: all 0.2s;

        &:hover{
            box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
            cursor: pointer;

            .imgPadding{
                padding: 0px;
            }
        }

        .imgPadding{
            width: 100%;
            // padding: 5px;
            transition: all 0.2s;

            .imgContainer{
                width: 100%;
                padding-top: 100%;
                position: relative;
    
                .img{  
                    
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(150 + random(100), 150 + random(100), 150 + random(100));
                }
            }
        }



        .infoContainer{
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            // height: 75px;
            width: 100%;
            border: 1px solid rgb(231, 231, 231);

            .infoDetail{
                width: 100%;
                height: 65%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 10px;
                background-color: #f7f7f7;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 12px;
                overflow: hidden;
                border-bottom: 1px solid rgb(231, 231, 231);
                

                .collectionName{
                    width: 100%;
                    color: grey;
                    font-style: italic;
                    transition: all 0.15s;

                    &:hover{
                        color: black;
                    }
                }

                .singleName{
                    width: 100%;
                    font-weight: 600;
                    word-break: break-word;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                .creatorName{
                    width: 100%;
                    color: grey;
                    font-style: italic;
                    transition: all 0.15s;

                    &:hover{
                        color: black;
                    }
                }

            }

            .priceDetail{
                width: 100%;
                height: 35%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex-direction: row;
                padding: 10px;
                background-color: #f7f7f7;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 15px;

                .buyBtn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 40%;
                    border: 1px solid rgb(15, 15, 15);
                    padding: 10px;
                    transition: all 0.15s;

                    &:hover{
                        background-color: rgb(15, 15, 15);
                        color: white;
                    }

                }

                .price{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 100%;
                    width: 60%;
                }

            }

        }

    }

}

@media only screen and (max-width: 1025px) {
    .singleList{

        .sortBar{
            top: 150px;

            .sort{
                height: 40px;
                border-radius: 3px;
                margin: 0px 20px 0px 0px;
                padding: 20px 40px;

            }

            .moveUp{
                height: 40px;
                padding: 0px 10px;
            
                &:hover{

                    &::before{
                        transform: scale(0);
                    }

                }

            }

            

        }
    }
}

@media only screen and (max-width: 900px) {
    .singleList{

        .sortBar{

            .sort{
                margin: 0px 10px 0px 0px;
                padding: 10px 20px;

            }

            .moveUp{
                height: 38px;
                width: 38px;
            }

        }
    }
}

@media only screen and (max-width: 700px) {
    .singleList{

        .sortBar{

            .sort{
                margin: 0px 5px 0px 0px;
                padding: 5px 10px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .singleList{

        .sortBar{
            font-weight: 400;
            font-size: 12px;

            .sort{
                height: 30px;
                padding: 5px 7px;

            }

            .moveUp{
                height: 28px;
                width: 28px;
                padding: 0px 5px;
                margin-left: auto;

                svg{
                    width: 16px;
                    height: 16px;
                }

            }

        }
    }
}

@media only screen and (max-width: 480px) {
    .singleList{

        .sortBar{
            height: fit-content;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            font-weight: 400;
            font-size: 12px;
            padding: 10px 30px;
            gap: 5px;

            .sort{
                height: 30px;
                padding: 5px 7px;
                margin: 0px;
            }

            .moveUp{
                height: 28px;
                width: 28px;
                padding: 0px 5px;
                margin: 0px;
                grid-column: 3;
                justify-self: flex-end;

                svg{
                    width: 16px;
                    height: 16px;
                }

            }

        }
    }
}


@media only screen and (max-width: 440px) {
    .singleList{
        padding: 10px;
        padding-top: 100px;

        .sortBar{
            grid-template-columns: 1fr 1fr;    

            .moveUp{
                grid-column: 1;
                justify-self: flex-end;
                transform: translateX(60%);
    
            }
        }            

    }
}

@media only screen and (max-width: 310px) {
    .singleList{
        padding: 0px;

        .sortBar{
            font-weight: 400;
            font-size: 10px;

        }
    }
}

@media only screen and (max-width: 300px) {
    .singleList{

        .sortBar{
            padding: 10px 10px;

        }
    }
}