.singleList {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  padding-top: 75px;
}

.singleList .sortBar {
  top: 75px;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #a3a3a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 0px 30px;
}

.singleList .sortBar .sort {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #929292;
  color: grey;
  border-radius: 3px;
  margin: 0px 20px 0px 0px;
  padding: 20px 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.singleList .sortBar .sort:hover {
  cursor: pointer;
  border-color: #0f0f0f;
  color: #0f0f0f;
}

.singleList .sortBar .activeSort {
  background-color: #0f0f0f !important;
  color: white;
  border-color: #0f0f0f;
  pointer-events: none;
}

.singleList .sortBar .activeSort:hover {
  color: white;
}

.singleList .sortBar .moveUp {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #929292;
  color: grey;
  border-radius: 100px;
  margin: 0px 20px 0px 0px;
  padding: 0px 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: auto;
  position: relative;
  margin-right: 0px;
}

.singleList .sortBar .moveUp svg {
  width: 18px;
  height: 18px;
  fill: grey;
}

.singleList .sortBar .moveUp:hover {
  cursor: pointer;
  border-color: #0f0f0f;
}

.singleList .sortBar .moveUp:hover svg {
  fill: #0f0f0f;
}

.singleList .sortBar .moveUp:hover::before {
  -webkit-transform: translateX(-115%) translateY(85%) scale(1);
          transform: translateX(-115%) translateY(85%) scale(1);
}

.singleList .sortBar .moveUp::before, .singleList .sortBar .moveUp::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-115%) translateY(85%) scale(0);
          transform: translateX(-115%) translateY(85%) scale(0);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  pointer-events: none;
}

.singleList .sortBar .moveUp::before {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 100px;
  border-top-right-radius: 0px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  background-color: #0f0f0f;
  content: attr(data-tooltip);
}

.singleList .singleListGrid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  margin: 30px;
}

.singleList .single {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.singleList .single:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  cursor: pointer;
}

.singleList .single:hover .imgPadding {
  padding: 0px;
}

.singleList .single .imgPadding {
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.singleList .single .imgPadding .imgContainer {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.singleList .single .imgPadding .imgContainer .img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #c1f5c9;
}

.singleList .single .infoContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px solid #e7e7e7;
}

.singleList .single .infoContainer .infoDetail {
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background-color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
}

.singleList .single .infoContainer .infoDetail .collectionName {
  width: 100%;
  color: grey;
  font-style: italic;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.singleList .single .infoContainer .infoDetail .collectionName:hover {
  color: black;
}

.singleList .single .infoContainer .infoDetail .singleName {
  width: 100%;
  font-weight: 600;
  word-break: break-word;
}

.singleList .single .infoContainer .infoDetail .singleName:hover {
  text-decoration: underline;
}

.singleList .single .infoContainer .infoDetail .creatorName {
  width: 100%;
  color: grey;
  font-style: italic;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.singleList .single .infoContainer .infoDetail .creatorName:hover {
  color: black;
}

.singleList .single .infoContainer .priceDetail {
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  background-color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.singleList .single .infoContainer .priceDetail .buyBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 40%;
  border: 1px solid #0f0f0f;
  padding: 10px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.singleList .single .infoContainer .priceDetail .buyBtn:hover {
  background-color: #0f0f0f;
  color: white;
}

.singleList .single .infoContainer .priceDetail .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 60%;
}

@media only screen and (max-width: 1025px) {
  .singleList .sortBar {
    top: 150px;
  }
  .singleList .sortBar .sort {
    height: 40px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    padding: 20px 40px;
  }
  .singleList .sortBar .moveUp {
    height: 40px;
    padding: 0px 10px;
  }
  .singleList .sortBar .moveUp:hover::before {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media only screen and (max-width: 900px) {
  .singleList .sortBar .sort {
    margin: 0px 10px 0px 0px;
    padding: 10px 20px;
  }
  .singleList .sortBar .moveUp {
    height: 38px;
    width: 38px;
  }
}

@media only screen and (max-width: 700px) {
  .singleList .sortBar .sort {
    margin: 0px 5px 0px 0px;
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 600px) {
  .singleList .sortBar {
    font-weight: 400;
    font-size: 12px;
  }
  .singleList .sortBar .sort {
    height: 30px;
    padding: 5px 7px;
  }
  .singleList .sortBar .moveUp {
    height: 28px;
    width: 28px;
    padding: 0px 5px;
    margin-left: auto;
  }
  .singleList .sortBar .moveUp svg {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .singleList .sortBar {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    font-weight: 400;
    font-size: 12px;
    padding: 10px 30px;
    gap: 5px;
  }
  .singleList .sortBar .sort {
    height: 30px;
    padding: 5px 7px;
    margin: 0px;
  }
  .singleList .sortBar .moveUp {
    height: 28px;
    width: 28px;
    padding: 0px 5px;
    margin: 0px;
    -ms-grid-column: 3;
    grid-column: 3;
    justify-self: flex-end;
  }
  .singleList .sortBar .moveUp svg {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (max-width: 440px) {
  .singleList {
    padding: 10px;
  }
  .singleList .sortBar {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .singleList .sortBar .moveUp {
    -ms-grid-column: 1;
    grid-column: 1;
    justify-self: flex-end;
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
}

@media only screen and (max-width: 310px) {
  .singleList {
    padding: 0px;
  }
  .singleList .sortBar {
    font-weight: 400;
    font-size: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .singleList .sortBar {
    padding: 10px 10px;
  }
}
/*# sourceMappingURL=SingleList.css.map */