.headerWrapper {
  width: 100%;
  height: 75px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerWrapper * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.headerWrapper .header {
  z-index: 100;
  position: fixed;
  width: 100%;
  max-width: 1920px;
  height: 75px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #e7e7e7;
}

.headerWrapper .header .upperMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.headerWrapper .header .upperMenu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  padding-left: 30px;
  font-weight: 700;
  font-size: 26px;
}

.headerWrapper .header .upperMenu .logo:hover {
  cursor: pointer;
}

.headerWrapper .header .upperMenu .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
}

.headerWrapper .header .upperMenu .auth .creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #f7f7f7;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  padding: 10px 0px;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  margin-right: 10px;
  min-width: 100px;
}

.headerWrapper .header .upperMenu .auth .creator p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 10px;
}

.headerWrapper .header .upperMenu .auth .creator:hover {
  background-color: #383838;
  cursor: pointer;
}

.headerWrapper .header .upperMenu .auth .creator:hover div {
  height: 100%;
}

.headerWrapper .header .upperMenu .auth .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100px;
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  padding: 10px 0px;
  background-color: #f7f7f7;
  border: 1px solid #2a2a2a;
  margin-right: 10px;
}

.headerWrapper .header .upperMenu .auth .action p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 10px;
}

.headerWrapper .header .upperMenu .auth .action:last-child {
  margin-right: 15px;
}

.headerWrapper .header .upperMenu .auth .action:hover {
  background-color: #2a2a2a;
  color: white;
  cursor: pointer;
}

.headerWrapper .header .upperMenu .auth .action:hover div {
  height: 100%;
}

.headerWrapper .header .lowerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.headerWrapper .header .lowerMenu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
}

.headerWrapper .header .lowerMenu .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.headerWrapper .header .lowerMenu .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #444444;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.headerWrapper .header .lowerMenu .menu ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.headerWrapper .header .lowerMenu .menu ul li .black {
  color: #2a2a2a;
  font-weight: 500;
}

.headerWrapper .header .lowerMenu .menu ul li .menuItemBorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 2px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.headerWrapper .header .lowerMenu .menu ul li:hover {
  cursor: pointer;
  color: #2a2a2a;
}

.headerWrapper .header .lowerMenu .menu ul li .active {
  background-color: #2a2a2a;
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  .headerWrapper .header .upperMenu .search input {
    width: 40%;
  }
  .headerWrapper .header .upperMenu .search input:focus {
    width: 60%;
  }
}

@media only screen and (max-width: 1400px) {
  .headerWrapper .header .upperMenu .search input {
    width: 50%;
  }
  .headerWrapper .header .upperMenu .search input:focus {
    width: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  .headerWrapper .header .upperMenu .search {
    width: 100%;
  }
  .headerWrapper .header .upperMenu .search input {
    width: 60%;
  }
  .headerWrapper .header .upperMenu .search input:focus {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .headerWrapper {
    height: 100px;
  }
  .headerWrapper .header {
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerWrapper .header .lowerMenu {
    width: 100%;
    height: 45px;
  }
  .headerWrapper .header .lowerMenu .menu {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0px;
  }
  .headerWrapper .header .lowerMenu .menu ul li {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 699px) {
  .headerWrapper .header .lowerMenu .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .headerWrapper .header .lowerMenu .menu ul li {
    font-size: 12px;
  }
  .headerWrapper .header .lowerMenu .menu ul li p {
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .headerWrapper .header .upperMenu .logo {
    font-size: 16px;
    padding-left: 20px;
  }
  .headerWrapper .header .upperMenu .auth .creator {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    font-size: 10px;
    margin-right: 5px;
    min-width: 75px;
  }
  .headerWrapper .header .upperMenu .auth .action {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    font-size: 10px;
  }
  .headerWrapper .header .upperMenu .auth .action:last-child {
    margin-right: 5px;
  }
  .headerWrapper .header .upperMenu .auth .action:hover {
    background-color: #2a2a2a;
    color: white;
    cursor: pointer;
  }
  .headerWrapper .header .lowerMenu .menu ul {
    width: 100%;
  }
  .headerWrapper .header .lowerMenu .menu ul li {
    width: 100%;
    font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
  .headerWrapper .header .upperMenu .logo {
    padding-left: 15px;
  }
  .headerWrapper .header .upperMenu .auth .action:last-child {
    margin-right: 15px;
  }
  .headerWrapper .header .lowerMenu .menu {
    padding: 0px;
  }
  .headerWrapper .header .lowerMenu .menu ul li {
    font-size: 12px;
  }
}
/*# sourceMappingURL=Header.css.map */