.creator-wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.creator-wrapper .banner {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2a2a2a;
}

.creator-wrapper .profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.creator-wrapper .profile-wrapper .profile-img-wrapper {
  border: 5px solid #f7f7f7;
  background-color: #f7f7f7;
  border-radius: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.creator-wrapper .profile-wrapper .profile-img-wrapper .profile-img {
  width: 175px;
  height: 175px;
  border-radius: 100px;
  background-color: #e3e0ef;
}

.creator-wrapper .profile-wrapper .profile-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 26px;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.creator-wrapper .profile-wrapper .profile-info .profile-name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-wrapper .profile-wrapper .profile-info .profile-address {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: grey;
}

.typeBar {
  width: 100%;
  height: 75px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #a3a3a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: 0px 30px;
  overflow-x: scroll;
  scrollbar-width: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.typeBar::-webkit-scrollbar {
  display: none;
}

.typeBar .type {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #929292;
  color: grey;
  margin: 0px 10px 0px 0px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 100px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0px 20px;
}

.typeBar .type:hover {
  cursor: pointer;
  border-color: #2a2a2a;
  color: #2a2a2a;
}

.typeBar .activeType {
  background-color: #2a2a2a !important;
  color: white;
  border-color: #2a2a2a;
  pointer-events: none;
}

.typeBar .activeType:hover {
  color: white;
}
/*# sourceMappingURL=Creator.css.map */